@font-face {
  font-family: "BrightMelody";
  src: local("BrightMelody"),
    url(".../public/fonts/brightmelodypersonaluseonly-ovogd.otf")
      format("opentype");
  font-weight: normal;
}

#project-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 50px;
  margin-top: 5vh;
}
