/* root colours moved from ContactForm.css */
:root {
  --primary-color: #010712;
  --secondary-color: #818386;
  --bg-color: #fcfdfd;
  --button-color: #3b3636;
  --h1-color: #3f444c;
}

[data-theme="dark"] {
  --primary-color: #fcfdfd;
  --secondary-color: #e2e4e7;
  --bg-color: #010712;
  --button-color: #e2e4e7;
  --h1-color: #fcfdfd;
}

[data-theme="dark"] #artstarterimage {
  filter: invert(1);
}

h3 {
  text-transform: uppercase;
  font-weight: normal;
  margin: 5px;
}

h1,
h2,
h3,
h4 {
  color: var(--primary-color);
}

body {
  background-color: var(--bg-color);
}
