/* root colours */
:root {
  --primary-color: #010712;
  --secondary-color: #818386;
  --bg-color: #fcfdfd;
  --button-color: #3b3636;
  --h1-color: #3f444c;
}

[data-theme="dark"] {
  --primary-color: #fcfdfd;
  --secondary-color: #e2e4e7;
  --bg-color: #010712;
  --button-color: #e2e4e7;
  --h1-color: #fcfdfd;
}

h3 {
  text-transform: uppercase;
  font-weight: normal;
  margin: 5px;
}
