/* root colours used to be here and worked */

* {
  margin: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.page-heading {
  margin-bottom: 5%;
}

.contact-container {
  display: flex;
  background: var(--bg-color);
}

.left-col {
  height: 100%;

  background-size: cover;
  background-repeat: no-repeat;
}

.video {
  width: 100%;
  max-height: 900px;
}

.right-col {
  background: var(--bg-color);
  padding: 5rem 3.5rem;
}

h1,
label,
button,
.description {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  letter-spacing: 0.1rem;
}

h1 {
  color: var(--h1-color);
  text-transform: uppercase;
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
  font-weight: 300;
}

.contact-p {
  color: var(--secondary-color);
  font-size: 0.9rem;
  letter-spacing: 0.01rem;
  margin: none;
}

label,
.description {
  color: var(--secondary-color);
  text-transform: uppercase;
  font-size: 0.625rem;
}

#contact-form {
  width: 40vw;
  position: relative;
  margin-top: 2rem;
  padding: 1rem 0;
}

#contact-form input,
textarea,
label {
  width: 100%;
  display: block;
}

p,
placeholder,
input,
textarea {
  font-family: "Helvetica Neue", sans-serif;
}

input::placeholder,
textarea::placeholder {
  color: var(--primary-color);
}

input,
textarea {
  color: var(--primary-color);
  font-weight: 500;
  background: var(--bg-color);
  border: none;
  border-bottom: 1px solid var(--secondary-color);
  padding: 0.5rem 0;
  margin-bottom: 1rem;
  outline: none;
}

textarea {
  resize: none;
}

button {
  text-transform: uppercase;
  font-weight: 300;
  background: var(--button-color);
  color: var(--bg-color);
  width: 10rem;
  height: 2.25rem;
  border: none;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

input:hover,
textarea:hover,
button:hover {
  opacity: 0.5;
}

button:active {
  opacity: 0.8;
}

@media only screen and (max-width: 950px) {
  h1 {
    font-size: 1.75rem;
  }
  p {
    font-size: 0.7rem;
  }
  input,
  textarea,
  button {
    font-size: 0.65rem;
  }
  .description {
    font-size: 0.6rem;
    margin-left: 0.4rem;
  }
  button {
    width: 7rem;
  }
  .theme-switch-wrapper {
    width: 120px;
  }
  .theme-switch {
    height: 28px;
    width: 50px;
  }

  .theme-switch input {
    display: none;
  }

  .slider:before {
    background-color: #fff;
    bottom: 0.25rem;
    content: "";
    width: 20px;
    height: 20px;
    left: 0.25rem;
    position: absolute;
    transition: 0.4s;
  }
  input:checked + .slider:before {
    transform: translateX(16px);
  }

  .slider.round {
    border-radius: 15px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
  .video {
    display: none;
  }

  .right-col {
    padding: 3rem 2rem;
  }

  #contact-form {
    width: 90vw;
  }
}
