body,
#root {
  margin: 0;
  height: 100vh;
}

.navsection {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.darkMode {
  height: 100%;
  background-color: black;
  color: white;
}

.lightMode {
  height: 100%;
  background-color: white;
  color: black;
}

.darkMode a {
  color: white;
  &:after {
    background-color: white;
  }
}

.lightMode a {
  color: black;
  &:after {
    background-color: black;
  }
}

.darkMode img {
  filter: invert(1);
}

a {
  text-decoration: none;
  font-family: "Monserrat", sans-serif;
  font-size: 16px;
  display: inline-block;
  position: relative;
  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    bottom: 0;
    height: 2px;
    margin: -5px 0;
    left: 0;
    /* background-color: rgb(0, 0, 0); */
    transition: all 0.4s ease-in 0s;
  }
  &:hover:after {
    width: 100%;
  }
}

.navbar {
  list-style-type: none;
  /* display: flex; */
  flex-direction: column;
  justify-content: start;
  margin: 10px;
  margin-top: 60px;
  max-width: fit-content;
}

li {
  margin: 5px;
  font-size: 16px;
}

ul {
  list-style-type: none;
}

.icon {
  max-width: 60px;
}

/* media queries */
@media all and (min-width: 1024px) and (max-width: 1280px) {
}

@media all and (min-width: 768px) and (max-width: 1024px) {
}

@media all and (min-width: 480px) and (max-width: 768px) {
}

@media all and (max-width: 480px) {
}
